// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "mixins";

#card {
	@include center-block;
	// width: 400px;

	.well {
		height: 250px;
		
	}
	
	.chinese {
		font-size: 72px;
	}

	.pinyin {
		font-size: 24px;
	}

	.english {
		font-size: 16px;
	}

}